.Parent{
    background-color: #ffffff;
    width:100%;
   
}

.OuterDiv img{
   width:100%;
   height:100%;
}


.OuterDiv{
    padding:40px;
    background-color: #ffffff;
    display: flex;
    width:100%;
    
}

.Text{
    width:100%;
}

.Title{
    font-size:28px;
    font-weight: bold;
    text-decoration: underline;
    color:#ff0019;
    margin-bottom:20px;
    text-align: left;
}

.Desc{
    font-size:20px;
    margin-bottom:10px;
    text-align: left;
}

.Link{
    font-size:18px;
    text-align: left;
    margin-bottom:20px;
}

.Link a{
    color:#ff0019;
}

.Foot{
   text-align: right;
    margin-right:10px;
    font-style: italic;
    font-weight: bold;
   
}

.Time{
    text-align: right;
    margin-right:10px;
    font-style: italic;
    font-weight: bold;
}

.Line{
    margin:0 20px;
    border:1px solid black;
}


@media(max-width:767px){
.OuterDiv{
    display: block;
    padding:20px 30px;
   
}
.Title{
    font-size:20px;
   
}
.Desc{
    font-size:17px;
   
}
.Link a{
    font-size:16px;
}
.Foot{
   font-size:13px;
    
 }
 
 .Time{
   font-size:13px;
 }
}