.Input{
    height:30px;
    border-radius:50px;
    border:none;
    font-size:15px;
    font-weight: bold;
    outline: none;
    background-color: #eeeeee;
    margin-bottom: 8px;
    padding-left:10px;
    padding-top:7px;
    width:90%;
}

.Search{
    display:inline-block;
    border-radius: 50px;
    border:1px solid #ccc;
    background-color: #eeeeee;
    width:90%;
}
